@import '../../../../styles/mixins.scss';

.example {
  margin-bottom: 60px;

  &-body {
    &__list {
      display: flex;
      flex-direction: row;
      flex: 1;
      &-item{
        flex: 1;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        &-txt {
          font-size: 36px;
          font-weight: bold;
          color: #fff;
        }
      }
    }

    &__list--vertical {
      height: 400px;
      flex-direction: column;
    }
  }
}

.example-body__list-item{
  flex: 1;
}


.demo-text-1 {
  background-color: $color-brand;
}
.demo-text-2 {
  background-color: $color-brand-light;
}
.demo-text-3 {
  background-color: $color-brand-dark;
}

.example {
  margin: 40px;
  &-header {
    font-size: 32px;
    margin-bottom: 20px;
  }
  &-body {

  }
}
